.dashboard-card{
    width: 100%;
    height: 100px;
    margin: 20px;
    color: white;
    background-color: #367ce6;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    .card {
    border: none; /* Remove card border if needed */
    border-radius: 10px; /* Add rounded corners to the card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    }


    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

}

.dashboard-card:hover{
    background-color: #5290ec;
}

.card-link{
    display: inline-block;
    width: 25%;
    margin: 25px;
    text-decoration: none;
}

.deposit-money-card{
    margin-left: 25px;
}
