.align-right-nav-item{
    position: absolute;
    right: 20px;
}

.nav-item {
    margin: 20px;
}

.brand-font{
    font-family: 'Croissant One', cursive;
}

.navbar{
    padding: 18px;
}

.brand-name{
    margin-left: -60px;
}