
.my-btn{
    text-align: center;
    display: block;
    margin: auto;
}

.Container {
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}
.col-md-6 {
margin-top: 80px;
}

.Form {
justify-content: center;
margin:auto;
width: 45vw;
box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
padding-top: 30px;
padding-bottom: 20px;
border-radius: 8px;
background-color: white;
}

.Form-grp {
padding-left: 12%;
padding-right: 12%;
}

.text-center {
text-align: center;
margin-bottom: 1em;
font-size: 24px;
color: rgb(34, 34, 34);
font-weight: 800;
}

label {
font-size: 14px;
font-weight: 600;
color: rgb(34, 34, 34);
}

.dropdown-select {
    position: relative;
}

.dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    /* Change the color as needed */
    pointer-events: none;
}

.back-div{
    position: absolute;
    left: 50px;
    cursor: pointer;
}
.back-div:hover{
    opacity: 0.8;
}

.open-acc-error{
    width: fit-content;
    margin: 10px auto;
    color: red;
}