 .error {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
  }
  

    .my-btn{
    text-align: center;
    display: block;
    margin: auto;
}

.Container {
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}

.Form {
justify-content: center;
margin: auto;
height: 100vh;
width: 40vw;
box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
padding-top: 30px;
padding-bottom: 20px;
border-radius: 8px;
background-color: white;
}

.Form-grp {
padding-left: 12%;
padding-right: 12%;
}

.text-center {
text-align: center;
margin-bottom: 1em;
font-size: 24px;
color: rgb(34, 34, 34);
font-weight: 800;
}

label {
font-size: 14px;
font-weight: 600;
color: rgb(34, 34, 34);
}
