.check-balance-btn{
    width: 40%;
    margin: 20px auto;
}

.modal-form-grp{
    margin-top: 15px;
}
.dropdown-toggle{
    min-width: 100%;
}

.error-msg{
    width: fit-content;
    margin: 10px auto 5px;
}
.balance{
    width: fit-content;
    margin: -20px auto -10px;
}