body{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.title{
  text-align:center;
  width: 30vw;
  background-color: #fff;
  padding: 2vw 1vw;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;

}

.App{
  text-align:center;
  display:flex;
  flex-direction:column;
  margin: auto;
  width: 30vw;
  padding: 2vw 1vw;
  /* //background-color: #952323; */
  border-radius: 0 0 10px 10px;
}

input{
  border: 1px solid black;
  border-radius: 10px;
  padding: 1vw 1vw;
  outline:none;
  margin:5px;
}